<!DOCTYPE html>
<html>
	<head>
		<title>About</title>
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<a href="/about">About</a>
		</nav>
		<h2>{{pageTitle}}</h2>
		<p>Copyright {{year}}</p>
	</body>
</html>