<!DOCTYPE html>
<html>
	<head>
		<title>Main</title>
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<a href="/about">About</a>
		</nav>
		<h2> {{name}} </h2>
		<p> age : {{age}} </p>
		<p> hobbies : {{hobbies}} </p>
		<p> status : {{status}} </p>
	</body>
</html>