<!DOCTYPE html>
<html>
	<head>
		<title>Project Details</title>
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<a href="/about">About</a>
			<a href="/project">Project</a>
		</nav>
		<h2>{{name}}</h2>
		<p> complexity : {{complexity}} </p>
		<p> contributors : {{contributors }}</p>
	</body>
</html>